USE [master]
GO
/****** Object:  Database [recipe_box_test]    Script Date: 6/14/2017 4:34:04 PM ******/
CREATE DATABASE [recipe_box_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'recipe_box', FILENAME = N'C:\Users\epicodus\recipe_box_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'recipe_box_log', FILENAME = N'C:\Users\epicodus\recipe_box_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [recipe_box_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [recipe_box_test]
GO
USE [recipe_box_test]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 6/14/2017 4:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 6/14/2017 4:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ingredient_name] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[recipes]    Script Date: 6/14/2017 4:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_name] [varchar](100) NULL,
	[rating] [int] NULL,
	[instructions] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[recipes_categories]    Script Date: 6/14/2017 4:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipes_id] [int] NULL,
	[categories_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[recipes_ingredients]    Script Date: 6/14/2017 4:34:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes_ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipes_id] [int] NULL,
	[ingredients_id] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
