@{
  Layout="Shared/_Layout.cshtml";
}

<h4><a href="/recipes">View Recipes</a></h4>
<h4><a href="/categories">View Categories</a></h4>
<h4><a href="/ingredients">View Ingredients</a></h4>

<h4><a href="/recipes/search">Search for a Recipe</a></h4>
<h4><a href="/recipes/favorites">View Favorite Recipes</a></h4>
