@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Add a new ingredient</h1>
<form action="/ingredients/new" method="post">
  <label for="ingredient-name">Ingredient Name:</label>
  <input id="ingredient-name" name="ingredient-name" type="text">
  <br>
  <button type="submit" class="btn btn-info">Add new ingredient</button>
</form>
