@{
  Layout="Shared/_Layout.cshtml";
}
<center><h1 class="flashy">SUCCESS</h1>

<img src="/Content/img/yay.png"></center>

<h4><a href="/recipes">View Recipes</a></h4>
<h4><a href="/categories">View Categories</a></h4>
<h4><a href="/ingredients">View Ingredients</a></h4>
