body{
  background-color: Tomato;
  font-size: 20px;
}

.container-fluid {
  margin-top: none;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #4abdac;
}

.navbar {
  background-color: #dfdce3;
}

.nav-item:hover a:hover {
  background-color: #f7b733;
  color: white;
}

.navbar a {
  color: black;
}

a {
  color: white;
  font-size: 25px;
}

a:hover {
  color: #f7b733;
}

body {
font-family: 'Cabin Sketch', cursive;
}

.btn-danger {
  background-color: #c9302c;

}

.btn-danger:hover {
  background-color: #d9534f;
}

.btn-info {
  background-color: #f7b733;
  border: none;
}

.btn-info:hover {
  background-color: #f9cc70;
  border-color: #f7b733;
}

.btn-success {
  background-color: #4abdac;
  border: none;
}

.btn-success:hover {
  background-color: #80d0c4;
  border-color: #4abdac;
}

.flashy {
  animation-name: flashy;
  animation-duration: .15s;
  animation-iteration-count: infinite;
  font-size: 150px;
}

@keyframes flashy {
  0% {color: #4abdac};
  25% {color: #4abdac};
  50% {color: white};
  75% {color: #4abdac};
  100% {color: #4abdac};
}
